* {
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.board {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    transform: rotate(90deg) scale(1, -1);
}

.player-turn {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(237, 104, 104);
    font-size: 50px;
}
.title {
    text-align: center;
}

.piece > div {
    width: 10vmin;
    height: 10vmin;
    background-color: white;
    border: 2px solid gray;
    border-radius: 100%;
}

.player1Piece {
    background-color: rgb(237, 104, 104) !important;
}

.player2Piece {
    background-color: rgb(81, 81, 225) !important;
}
